*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:url('https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    font-family: sans-serif;
    background-size:cover;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
}

.container{
    padding: 20px 70px;
    color: black;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    font-weight:100;
}

.date-container .time{
    font-size: 60px;
    font-weight: 100;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: black(24,24,27, 0.6);
    padding:20px 20px;border-radius: 10px;
}
